#main-header {
   margin: 0 auto;
    top: 0;
    color: var(--white);
    padding: 2rem 0;
    margin-top: -3rem;
   background-color: transparent;
   .main-nav {
        width: 71.5%;
        justify-content: space-evenly !important;
        transition: all 0.5s ease;
        transition: transform 0.4s ease-in-out;
        li {
            font-weight: var(--fw-semibold);
            transition: all 0.3s ease-in-out;
            font-size: var(--text-lg);
        }
        li:hover {
            color: var(--primary-dark)
        }
        .link-active {
            
            border-bottom: 2px solid var(--primary-dark);
            
        }
    }
    .logo  {
        margin-top: -0.5rem;
    }
    .flex {
        align-items: center;
        justify-content: space-between;
    }
    .hamburger {
        display: none; 
        position: relative;
        cursor: pointer;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 21px;
        z-index: 1000; 
    }
    
    .hamburger span {
        display: block;
        height: 3px;
        background: var(--primary-dark); 
        border-radius: 3px;
        transition: all 0.3s ease;
    }
    
    .hamburger.open span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }
    
    .hamburger.open span:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.open span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }    
}

@media screen and (max-width: 1225px) {
     a#button.btn-main-secondary {
            background-color: transparent;
        }
    #main-header {
        max-width: 100%;
       position: sticky;
       margin-bottom: 3rem;
       margin-top: 0;
       top: 0;
       background-color: white;
       z-index: 1500;
       .logo {
        margin-top: -2.5rem;
       }
       .container {
        background-color: white;
       }
       .flex {
            background-color: white;
            text-align: left;
            .main-nav {
                margin-top: 2.5rem;
            }
        }
       .hamburger {
            display: flex;
            margin-top: -4.5rem;
            margin-right: 1.5rem;
        }
        .main-nav {
            .link-active {
            border-bottom: 2px solid var(--primary-dark);
            }  
        }
    }
   .main-nav {
        background-color: white;
       opacity: 0;
       width: 100% !important;
       position: absolute;
       top: 32%;
       transform: translateY(-10px);
       max-height: 0;
       flex-direction: column !important;
       overflow: hidden;
   } 
   .main-nav.active {
        opacity: 1;
        height: 100vh;
        max-height: 100vh;
        width: 100%;
        left: 2%;
        visibility: visible;
        display: flex;
        flex-direction: column;
        position: absolute;
        color: var(--primary-dark);
        top: 32%;
        transform: translateY(0);
        background-color: white; 
        padding: 1rem;
        overflow-x: hidden;
        li {
            font-weight: var(--fw-semibold);
            width: 90%;
            padding: .5rem;
            &:hover {
                background-color: var(--secondary-green);
                color: var(--white);
            }   
        }
    }   
}

@media screen and (max-width: 933px)  {
     
    .hamburger {
        justify-self: flex-end;
    }
    #main-header .hamburger {
        margin-top: -5rem;
        margin-right: 1.5rem; 
   }
    #main-header {
        .flex {
            .main-nav.active {
                top: 45%;
                left: 5%;
             }
        }
    }
    
}

@media screen and (max-width: 768px) {
  
    #main-header .flex {
        flex-direction: row; 
        align-items: center;
        justify-content: space-between;
        text-align: initial; 
        width: 90%;
        
   }
   #main-header {
    .hamburger {
        margin-right: 3rem;
    }
   }
  
   #main-header .logo {
        margin-top: -3rem;
        z-index: 1000;
   }
   
   #main-header .main-nav {
        top: 35%;
   }
   
   #main-header .hamburger {
        margin-top: -5rem;
        margin-right: 1.5rem;
   }
}